


<div class="row">
  <div class="col-sm-6">
    <h1>Eateries</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_eatery_path, class: 'btn btn-primary' do %>
    Add New Eatery
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Rating.decimal</th>
            <th>No of reviews</th>
            <th>Address</th>
            <th>Street one</th>
            <th>Street two</th>
            <th>City</th>
            <th>Min wait</th>
            <th>Max wait</th>
            <th>Delivery.decimal</th>
            
      </tr>
    </thead>

    <tbody>
      <% @eateries.each do |eatery| %>
        <%= content_tag :tr, id: dom_id(eatery), class: dom_class(eatery) do %>
          
            <td><%= link_to eatery.name, eatery %></td>
          

                      <td><%= eatery.rating.decimal %></td>
                      <td><%= eatery.no_of_reviews %></td>
                      <td><%= eatery.address %></td>
                      <td><%= eatery.street_one %></td>
                      <td><%= eatery.street_two %></td>
                      <td><%= eatery.city %></td>
                      <td><%= eatery.min_wait %></td>
                      <td><%= eatery.max_wait %></td>
                      <td><%= eatery.delivery.decimal %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
